.about__us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: auto;
  gap: 2rem;
}
.about__us__container{
  margin-top: 40px;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: auto;
  gap: 2rem;

}
.underline {
  width: 150px;
  height: 4px;
  margin-top: -20px;
  background-color: rgb(113, 56, 3);
}

.aboutus__img > img {
  width: 300px;
  height: 250px;
}
.aboutus__heading {
  display: flex;
  flex-direction: column;
  width: 950px;
  justify-content: center;
  text-align: justify;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about__us__content {
  font-size: 18px;
  line-height:2;
}
.about__us__mobile{
  display: none;
}
@media (min-width: 200px) and (max-width: 480px) {
  .about__us {
    display: none;
  }
  .about__us__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
  }
  .about__us__mobile__img {
    display: flex;
    gap: 1rem;
  }
  .about__us__mobile__img > img {
    width: 200px;
    height: 150px;
  }
  .aboutus__heading {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
  }
  .about__us__content__mobile {
    margin-top: 40px;
    font-size: 16px;
    line-height: 2;
    padding-inline: 20px;
  }
  .aboutus__heading > h1 {
    font-size: 35px;
  }
  .underline {
    width: 100px;
    height: 2px;
    margin-top: -20px;
    background-color: rgb(113, 56, 3);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .about__us {
    display: none;
  }
  .about__us__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
  }
  .about__us__mobile__img {
    display: flex;
    gap: 1rem;
  }
  .about__us__mobile__img > img {
    width: 350px;
    height: 300px;
  }
  .aboutus__heading {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
  }
  .about__us__content__mobile {
    font-size: 18px;
  }
  .aboutus__heading > h1 {
    font-size: 40px;
  }
  .underline {
    width: 120px;
    height: 3px;
    margin-top: -20px;
    background-color: rgb(113, 56, 3);
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .about__us {
    display: none;
  }
  .about__us__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
  }
  .about__us__mobile__img {
    display: flex;
    gap: 1rem;
  }
  .about__us__mobile__img > img {
    width: 300px;
    height: 250px;
  }
  .aboutus__heading {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
  }
  .about__us__content__mobile {
    font-size: 20px;
    line-height: 1.5;
    padding-inline: 30px;
  }
  .aboutus__heading > h1 {
    font-size: 50px;
  }
  .underline {
    width: 150px;
    height: 4px;
    margin-top: -20px;
    background-color: rgb(113, 56, 3);
  }
}
